/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    resize: none;
    box-sizing: border-box;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    color: #000000;
    /* margin-left: 30%; */
} 

/* Elementos com o ID "imgCad" */
#imgcad {
    width: 40%; /* Ajuste a largura conforme necessário */
    margin: 20px; /* Espaço entre a imagem e o formulário */
    padding-bottom: 20px;
} 

#check {
    display: inline-block;
}

/* Elementos de tag <fieldset> */
fieldset {
    border: 0;
}

/* Elemento de tag <body> */
body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 10%; /* Ajuste conforme necessário */
    margin-top: 2%;
}

/* Contêiner flexível */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */ */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #13004c;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea> */
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option> */
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus" */
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #220184;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
